@page "/"

<PageTitle>Avatar</PageTitle>

<div class = "Back h-100 w-100">
    <p></p>
</div>

<div class="TBotones">

    <div class="Botones1">
        <a href="Campo0">

        <button id="ia" type="button" class="btn Index-Buttons">
            jugador virtual vs jugador virtual
        </button>

        </a>

        <a href="Campo1">

            <button id="virtual" type="button" class="btn Index-Buttons">
                jugador vs jugador 
            </button>
        </a>
    </div>
   
    <div class="Botones2">
        <a href="Campo2">

        <button id="jugador" type="button" class="btn Index-Buttons">
            jugador vs jugador virtual
        </button>

        </a>

        <a href="Interprete">

            <button id="cartas" type="button" class="btn Index-Buttons">
                crear cartas
            </button>

        </a>
    </div>
</div>
